<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
<!--  <p>{{d_list}}</p>-->
	<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-12 left">
                <div class="row top">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <form class="input" action="/" method="post">
                            <input name="q" type="text" placeholder="Search">
                            <input type="submit" value="Go">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 temp"></div>
                    <div class="col-5 time">
                        <p></p>
                        <h2><b></b></h2>
                        <p></p>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col">
                        <hr>
                    </div>
                    <div class="col">
                        <div class="row"></div>
                        <div class="row"><b>Search any city in the world</b></div>
                    </div>
                    <div class="col">
                        <hr>
                    </div>
                </div>
            </div>
<!--            <div class="col-3 right">-->
<!--                <div class="row top"></div>-->
<!--                <div class="timely">-->
<!--                    <div class="row">   <b></b></div>-->
<!--                    <div class="row">   <b></b></div>-->
<!--                    <div class="row">   <b></b></div>-->
<!--                    <div class="row">   <b></b></div>-->
<!--                    <div class="row">   <b></b></div>-->
<!--                    <div class="row">   <b></b></div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
  </body>
</html>